[user]
	name = Markus Fasselt
	email = markus.fasselt@gmail.com
[color]
	ui = true
[alias]
	ci = commit
	cia = commit -a
	ciam = commit -a -m
	st = status
	co = checkout
	graph = log --pretty=format:'%h %s' --graph
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unmerged = cherry -v 
    diff-chr = diff --word-diff-regex=.
    diff-word = diff --color-words
    please = commit --amend --reset-author
    amend = commit --amend
    patch = !git --no-pager diff --no-color
    append = commit --amend --no-edit
	pushhead = push -u origin HEAD
[push]
	default = simple
[merge]
	tool = meld
	log = true
	ff = false
[core]
	excludesfile = ~/.gitignore
    # pager = diff-so-fancy | less --tabs=4 -R
[pull]
	rebase = true
[http]
	postBuffer = 524288000

# Delta configuration
[core]
    pager = delta --paging always

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
    features = line-numbers decorations
    syntax-theme = Solarized (light)

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

# Project specific configuration
[includeIf "gitdir:~/Projects/urbyo/"]
    path = ~/Projects/urbyo/.gitconfig
