ACTION=="add", SUBSYSTEM=="input", ATTR{name}=="*TrackPoint*", ATTR{device/sensitivity}="170", ATTR{device/speed}="190", ATTR{device/press_to_select}="0"
