ACTION=="add", SUBSYSTEM=="input", ATTR{name}=="*TrackPoint*", ATTR{device/sensitivity}="200", ATTR{device/speed}="150", ATTR{device/press_to_select}="0"
